

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    background-color: teal;

}


.general {
    width: 20em;
    height: 30em;
        background-color: rgb(190, 188, 185);
        display:flex;
        flex-direction: column;

        border-radius: 5% 5% 15% 5%;
        border: 0.1em solid black;
        overflow: hidden;
}

/***********************************************
************* PANTALLA *************************
************************************************/

.pantalla {
    height: 45%;
    width: 80%;

     background-color: rgb(85, 86, 88); 
     display: flex;
     flex-direction: row;
     border-radius: 5% 5% 20% 5%;
     border: 0.1em solid black;
     margin: 1.9em;
     
}


.pantallaLeft {
    height: 100%;
    width: 20%;
    border-radius: 20% 20% 20% 20%;

    display: flex;
    flex-direction: column;
   
   /* background-color: black; */

}


.pantallaCenter {
    height: 100%;
    width: 60%;
    /* background-color: darkgreen; */

    display: flex;
    flex-direction: column;
}


.pantallaRight {
    height: 100%;
    width: 20%;

    /* background-color: palevioletred; */
}


/********************************************************
***************** CRISTAL LATERAL **********************
********************************************************/

.cristalLateral1 {
    height: 20%;
    width: 100%;
    
    /* background-color: black; */
}


.cristalLateral2 {
    height: 20%;
    width: 100%;
    
    /* background-color: yellow; */

}


.cristalLateral3 {
    height: 20%;
    width: 100%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.cristalLateral4 {
    height: 20%;
    width: 100%;
    
    /* background-color: red; */

}


.cristalLateral5 {
    height: 20%;
    width: 100%;
    
    /* background-color: black; */

}


/*******************************************************
*************** CRISTAL CENTRO *************************
*******************************************************/

.cristalCenter1 {
    height: 15%;
    width: 100%;

    /* background-color: purple;  */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.5em;
    justify-content: space-around;
}


.cristalCenter2 {
    height: 70%;
    width: 100%;

    background-color: rgb(74, 91, 27);
    display: flex;
    border: 0.1em solid black;
    box-shadow: inset 10px 10px 7px rgb(48, 59, 18);
}


.cristalCenter3 {
    height: 15%;
    width: 100%;

    /* background-color: orange;  */
}


/***********************************************************
*********************** ESQUINAS ***************************
***********************************************************/

.esquina1 {
    height: 20%;
    width: 100%;

   /*background-color: greenyellow; */

}


.esquina2 {
    height: 10%;
    width: 100%;

    background-color: darkred;

}


.esquina3 {
    height: 10%;
    width: 100%;

   /* background-color: black; */
}


.esquina4 {
    height: 10%;
    width: 100%;

    background-color: darkblue;
}


.esquina5 {
    height: 50%;
    width: 100%;

    /* background-color: darkseagreen; */
}


/***********************************************************
************* BOTÓN BATTERY ********************************
***********************************************************/

.btnPower1 {
    height: 15%;
    width: 10%;

    background-color: darkred;
    border-radius: 10em;
    border: 0.1em solid black;
    box-shadow: 2px 2px 7px grey;

}


.btnPower2 {
    height: 50%;
    width: 100%;

    /* background-color: yellow; */
    border-radius: 10em;
    font-size: 0.7em;
    display: flex;
    align-items: center;   
}


/**************************************************************
********************BOTONES***********************************
**************************************************************/
.botones {
    height: 45%;
    width: 100%;

    /* background-color: green;  */

    display: flex;
    flex-direction: row;
}

.botones1 {
    height: 100%;
    width: 33.33%;
    /* background-color: yellow;  */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botones2 {
    height: 100%;
    width: 33.34%;
    /* background-color: purple;  */

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.botones3 {
    height: 100%;
    width: 33.33%;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}


.cruceta {
    height: 33.34%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#btnStart {
    height: 33.33%;
    width: 100%;

    /* background-color: green; */
    display: flex;
    justify-content: space-around;
    align-items: space-between;
}


.btnMenu {
    height: 10%;
    width: 35%;

    background-color: rgb(85, 86, 88);
    border-radius: 100%;
    border: 0.1em solid black;
    transform: rotate(-30deg);
    box-shadow: 2px 2px 7px grey;
}


#btnDerecha1 {
    height: 33.33%;
    width: 100%;

    /* background-color: orange; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


#btnDerecha2 {
    height: 33.33%;
    width: 100%;

    /* background-color: orchid; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.btnRojo {
    height: 50%;
    width: 25%;

    background-color: darkred;
    border-radius: 100%;
    border: 0.1em solid black;
    transform: rotate(-30deg);
    box-shadow: 2px 2px 7px grey;
}


.btnAltavoz {
    height: 60%;
    width: 2%;

    background-color: rgb(85, 86, 88);
    border-radius: 100%;
    border: 0.1em solid black;
    transform: rotate(-30deg);
    box-shadow: 2px 2px 7px grey;
}


/**********************************************************
*************** CRUCETA ***********************************
**********************************************************/


.crucetaFlechas1 {
    height: 33.33%;
    width:  100%;

    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.crucetaFlechas2 {
    height: 33.34%;
    width: 100%;

    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.crucetaFlechas3 {
    height: 33.33%;
    width: 100%;

    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}


/*******************************************************
**************** FLECHAS ******************************
*******************************************************/

.flechaIzq {
    height: 100%;
    width: 20%;

    background-color: black;
    border: 0.1em solid black;
    border-radius: 25% 0% 0% 25%;
    box-shadow: inset 2px 2px 7px grey;
}


.flechaCentro {
    height: 100%;
    width: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 0.1em solid black;
    box-shadow: inset 2px 2px 7px grey;
}


.flechaCirculo {
    height: 100%;
    width: 100%;

    background-color: black;
    /* border: 0.1em solid grey; */
    border-radius: 100%;
    box-shadow: inset 2px 2px 7px grey;

}


.flechaDer {
    height: 100%;
    width: 20%;

    background-color: black;
    border: 0.1em solid black;
    border-radius: 0% 25% 25% 0%;
    box-shadow: inset 2px 2px 7px grey;
}


.flechaUp {
    height: 100%;
    width: 20%;

    background-color: black;
    border: 0.1em solid black;
    border-radius: 25% 25% 0% 0%;
    box-shadow: inset 2px 2px 7px grey;

}


.flechaDown {
    height: 100%;
    width: 20%;

    background-color: black;
    border: 0.1em solid black;
    border-radius: 0% 0% 25% 25%;
    box-shadow: inset 2px 2px 7px grey;
}


/*******************************************************
************************* LOGO *************************
*******************************************************/

#logo {
    height: 5%;
    width: 50%;

    /* background-color: blue; */
    display: flex;
    margin-left: 1.5em;
}


/******************************************************
******************* MARGEN TOP ************************
******************************************************/

#margenTop {
    height: 5%;
    width: 100%;

    /* background-color: green; */
    border-bottom: 3px solid gray;
    display: flex;
    border-radius: 0% 0% 0% 0%;
    overflow: hidden;
}


.topEsquinaLeft {
    height: 100%;
    width: 10%;

    background-color: rgb(190, 188, 185);
    border-right: 3px solid gray;
    border-radius: 20% 0% 0% 0%;
    border-bottom: 1px solid gray;
    overflow: hidden;

}


.topMedio {
    height: 100%;
    width: 80%;

    background-color: rgb(190, 188, 185);
    border-right: 3px solid gray;
    border-radius: 0%;
    /* border-bottom: 1px solid gray; */
    overflow: hidden;
}


.topEsquinaRight {
    height: 100%;
    width: 10%;

    background-color: rgb(190, 188, 185);
    border-right: 3px solid gray;
    border-radius: 0% 20% 0% 0%;
    border-bottom: 1px solid gray;
    overflow: hidden;
}